In [1]:
import numpy as np
import pandas as pd
ser=pd.Series(np.random.randint(1,10,35))
ser

0     7
1     3
2     7
3     1
4     6
5     7
6     3
7     4
8     6
9     5
10    5
11    5
12    4
13    8
14    2
15    2
16    3
17    2
18    2
19    6
20    5
21    4
22    2
23    7
24    9
25    5
26    7
27    7
28    4
29    9
30    8
31    2
32    3
33    8
34    7
dtype: int32

In [2]:
df = pd.DataFrame(ser.values.reshape(7, 5))
df

   0  1  2  3  4
0  7  3  7  1  6
1  7  3  4  6  5
2  5  5  4  8  2
3  2  3  2  2  6
4  5  4  2  7  9
5  5  7  7  4  9
6  8  2  3  8  7